# description
README.rst

# version
include rand_wc_model_gen/VERSION

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

#metabolites file
include data/metabolites.csv