# description
README.rst

# version
include VERSION

# license
include LICENSE

# requirements
include requirements.txt
include requirements.optional.txt

#metabolites file
include data/metabolites.csv